<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
    <h1>Enviar Arquivo</h1>
    <form method="post" enctype="multipart/form-data" action="/logs">
        <input type="file" name="arquivo"><br><br>
        <input type="submit" value="Enviar">
    </form>
    <br>
    <h1>Lista de Logs</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="log : ${logs}">
                <td th:text="${log.id}"></td>
                <td th:text="${log.name}"></td>
            </tr>
        </tbody>
    </table>
</body>
</html>